{% extends "management/index.html" %}
<!DOCTYPE html>
<html lang="en">
  {% load static %}

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>

  <body>
    {% block main_content%}

    <!--header section start -->
    <div class="header_section">
      {% include 'management/nav_header.html' %}

      <div class="banner_main">
        <h1 class="banner_taital">IDDS</h1>
        <h1 class="banner_taital_2">
          Individual Descriptive Document Acquisition System
        </h1>
        <p class="banner_text">
          Welcome to our platform! <br />
          This page still in developemt
        </p>
      </div>
    </div>
    <!--header section end -->

    <!--costume header section start -->
    {% include 'management/menu_header.html' %}
    <!--costume header section end -->

    <!--services section start -->
    <div class="layout_padding pb-5">
      <div class="container">
        <div class="row">
          {% for service in serviceData %}
          <div class="col-md-6">
            <div class="box_main">
              <h3 class="font-bold">
                <a href="{% url 'service_details' service.name %}">
                  {{service.name}}
                </a>
              </h3>
              <p
                class="dummy_text"
                style="
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                "
              >
                {{service.description}}
              </p>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <!--services section end -->
    {% endblock %}
  </body>
</html>
