{% extends "management/registrar/main.html" %}
<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>

  <body>
    {% block main_content%}

    <div class="main-content">
      <div class="container-fluid">
        <div class="page-header">
          <div class="row align-items-end">
            <div class="col-lg-8">
              <div class="page-header-title">
                <i class="ik ik-list bg-secondary"></i>
                <div class="d-inline">
                  <h5>Application Detail</h5>
                  <span> Manage Citizen Application </span>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <nav class="breadcrumb-container" aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item active" aria-current="page">
                    <a href="{% url 'dashboard' %}">
                      <i class="ik ik-home"></i>
                      Home
                    </a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">
                    <a href="{% url 'new_application' %}">
                      <i class="ik ik-list"></i>
                      Application List
                    </a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">
                    Details
                  </li>
                </ol>
              </nav>
            </div>
          </div>
        </div>

        <h5 class="card-title">
          <div class="service-header d-flex py-2">
            {{request_details.service.name}}
          </div>
        </h5>
        <div class="card-footer">
          <span class="float-right">
            To reply to the citizen request click :
            <button
              type="button"
              class="btn btn-light btn-rounded"
              data-toggle="modal"
              data-target="#upload_document"
            >
              <i class="ik ik-upload text-primary"></i> upload document
            </button>
          </span>
          <span>
            To download citizen info click :
            <button type="button" class="btn btn-light btn-rounded">
              <i class="ik ik-download text-primary"></i> download
            </button>
          </span>
        </div>
        <div class="row">
          <div class="col-md-12 mb-2">
            <div class="card">
              <div class="card-header">
                <h3>
                  <i class="fa fa-user text-info"></i> Citizen Information
                </h3>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-12">
                    <span class="">
                      Full names:
                      <span class="h6">
                        {{request_details.citizen.first_name}}
                        {{request_details.citizen.last_name}}
                      </span>
                    </span>
                  </div>
                  <div class="col-sm-12 col-xl-6">
                    <span>
                      Nationality:
                      <span class="h6">
                        {{ request_details.citizen.nationality }}
                      </span>
                    </span>
                  </div>
                  <div class="col-sm-12 col-xl-6">
                    <span>
                      National ID Number:
                      <span class="h6">
                        {{ request_details.citizen.nid_number }}
                      </span>
                    </span>
                  </div>
                  <div class="col-sm-12 col-xl-6">
                    <span>
                      Birthdate:
                      <span class="h6">
                        {{ request_details.citizen.birthdate }}
                      </span>
                    </span>
                  </div>
                  <div class="col-sm-12 col-xl-6">
                    <span>
                      Birth place:
                      <span class="h6">
                        {{ request_details.citizen.birth_place }}
                      </span>
                    </span>
                  </div>
                  <div class="col-sm-12 col-xl-6">
                    <span
                      >Gender:
                      <span class="h6">
                        {{ request_details.citizen.gender }}
                      </span></span
                    >
                  </div>
                  <div class="col-sm-12 col-xl-6">
                    <span>
                      Marital Status:
                      <span class="h6">
                        {{ request_details.citizen.marital_status }}
                      </span>
                    </span>
                  </div>
                  <div class="col-lg-12 mt-3">
                    <u class="title">Residence Address</u>
                    <div class="row">
                      <div class="col-sm-12 col-xl-6">
                        <span>
                          Province:
                          <span class="h6">
                            {{request_details.citizen.address.province}}
                          </span>
                        </span>
                      </div>
                      <div class="col-sm-12 col-xl-6">
                        <span>
                          State:
                          <span class="h6">
                            {{request_details.citizen.address.state }}
                          </span>
                        </span>
                      </div>
                      <div class="col-sm-12 col-xl-6">
                        <span>
                          City:
                          <span class="h6">
                            {{request_details.citizen.address.city }}
                          </span>
                        </span>
                      </div>
                      <div class="col-sm-12 col-xl-6">
                        <span>
                          Street:
                          <span class="h6">
                            {{request_details.citizen.address.street }}
                          </span>
                        </span>
                      </div>
                    </div>
                  </div>
                  {% if request_details.citizen.parents %}
                  <div class="col-lg-12 mt-3">
                    <u class="title">Citizen Parents</u>
                    <div class="row">
                      {% for data in request_details.citizen.parents.all %}
                      <div class="col-sm-12 col-xl-6">
                        <small class="font-weight-bold">
                          {{data.parent}}
                        </small>
                        <br />
                        <span>
                          Names:
                          <span class="h6"
                            >{{data.first_name}} {{data.last_name}}
                          </span>
                        </span>
                        <br />
                        <span>
                          Professionalism:
                          <span class="h6">{{data.professionalism}} </span>
                        </span>
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12 mb-2">
            <div class="card">
              <div class="card-header">
                <h6>Addition info for Applicant.</h6>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-6">
                    <h6 for="picture">Uploaded picture</h6>
                    <div class="image-card">
                      <image
                        src="{{request_details.picture.url}}"
                        width="200px"
                      />
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <h6 for="picture">Contact Address</h6>
                    <p>
                      <span> <i class="fa fa-tablet"></i> </span>
                      <span>{{request_details.current_phone}}</span>
                    </p>
                    <p>
                      <span> <i class="fa fa-envelope"></i> </span>
                      <span>{{request_details.email}}</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="modal fade"
      id="upload_document"
      tabindex="-1"
      role="dialog"
      aria-labelledby="deleteModalTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h6 class="modal-title" id="deleteModalTitle">
              <i class="ik ik-upload text-primary"></i> UPLOAD DOCUMENT FILE
            </h6>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form action="" method="post">
            {% csrf_token %}
            <div class="modal-body">
              <div class="form-group">
                <label for="idd_file"
                  >Upload Individual Descriptive Document</label
                >
                <input
                  id="idd_file"
                  type="file"
                  class="form-control"
                  placeholder="upload Documet"
                  name="idd_file"
                  required
                />
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Close
              </button>
              <button
                type="submit"
                name="send_file"
                class="btn btn-outline-primary btn-rounded"
              >
                <i class="ik ik-send"></i> Send
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
