{% extends "management/registrar/main.html" %}
<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>

  <body>
    {% block main_content%}

    <div class="main-content">
      <div class="container-fluid">
        <div class="page-header">
          <div class="row align-items-end">
            <div class="col-lg-8">
              <div class="page-header-title">
                <i class="ik ik-user bg-info"></i>
                <div class="d-inline">
                  <h5>Citizen</h5>
                  <span> Manage citizen info </span>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <nav class="breadcrumb-container" aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item active" aria-current="page">
                    <a href="{% url 'dashboard' %}">
                      <i class="ik ik-home"></i>
                      Home
                    </a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">
                    <a href="{% url 'citizens' %}">
                      <i class="ik ik-list"></i> Citizens
                    </a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">
                    Citizen info
                  </li>
                </ol>
              </nav>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3>Citizen Information</h3>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-12 mb-4">
                    <button
                      type="button"
                      class="btn btn-light btn-rounded float-right"
                      data-toggle="modal"
                      data-target="#delete_confirmation"
                    >
                      <i class="ik ik-trash text-danger"></i>
                    </button>
                    <button
                      type="button"
                      class="btn btn-light btn-rounded float-right mr-1"
                      data-toggle="modal"
                      data-target="#updateCitizenModal"
                    >
                      <i class="ik ik-edit text-primary"></i>
                    </button>
                    <span class="">
                      Full names:
                      <h4 class="title">
                        {{ citizen.first_name }} {{ citizen.last_name }}
                      </h4>
                    </span>
                  </div>
                  <div class="col-sm-12 col-xl-6 mb-1">
                    <p>
                      Nationality:
                      <span class="h6">{{ citizen.nationality }}</span>
                    </p>
                  </div>
                  <div class="col-sm-12 col-xl-6 mb-1">
                    <p>
                      National ID Number:
                      <span class="h6">{{ citizen.nid_number }}</span>
                    </p>
                  </div>
                  <div class="col-sm-12 col-xl-6 mb-1">
                    <p>
                      Birthdate: <span class="h6">{{ citizen.birthdate }}</span>
                    </p>
                  </div>
                  <div class="col-sm-12 col-xl-6 mb-1">
                    <p>
                      Birth place:
                      <span class="h6">{{ citizen.birth_place }}</span>
                    </p>
                  </div>
                  <div class="col-sm-12 col-xl-6 mb-1">
                    <p>Gender: <span class="h6">{{ citizen.gender }}</span></p>
                  </div>
                  <div class="col-sm-12 col-xl-6 mb-1">
                    <p>
                      Marital Status:
                      <span class="h6">{{ citizen.marital_status }}</span>
                    </p>
                  </div>
                  <div class="col-lg-12 mb-1 mt-2">
                    <button
                      type="button"
                      class="btn btn-light btn-rounded float-right mr-1"
                      data-toggle="modal"
                      data-target="#updateAddresModal"
                    >
                      <i class="ik ik-edit text-primary"></i>
                    </button>
                    <h4 class="sub-title">Residence Address</h4>
                    <div class="row">
                      <div class="col-sm-12 col-xl-6">
                        <p>
                          Province:
                          <span class="h6">
                            {% if citizen.address.province %}{{ citizen.address.province }}
                            {%else%} Null {% endif %}</span
                          >
                        </p>
                      </div>
                      <div class="col-sm-12 col-xl-6">
                        <p>
                          State:
                          <span class="h6">
                            {% if citizen.address.state %} {{ citizen.address.state }} {%else%}
                            Null {% endif %}</span
                          >
                        </p>
                      </div>
                      <div class="col-sm-12 col-xl-6">
                        <p>
                          City:
                          <span class="h6">
                            {% if citizen.address.city %} {{ citizen.address.city }} {%else%}
                            Null {% endif %}</span
                          >
                        </p>
                      </div>
                      <div class="col-sm-12 col-xl-6">
                        <p>
                          Street:
                          <span class="h6">
                            {% if citizen.address.street %} {{ citizen.address.street }}
                            {%else%} Null {% endif %}</span
                          >
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          {% if parents %}
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h6>
                  Citizen Parents
                </h6>
              </div>
              <div class="card-body">
                <button
                  type="button"
                  class="btn btn-light btn-rounded float-right mr-1"
                  data-toggle="modal"
                  data-target="#updateParentsModal"
                >
                  <i class="ik ik-edit text-primary"></i>
                </button>
                <div class="row">
                  {% for data in parents %}
                  <div class="col-sm-12 col-xl-6 mb-1">
                    <span class="font-weight-bold"> {{data.parent}} </span>
                    <p class="mb-1">
                      Names:
                      <span class="h6">
                        {% if data.first_name and data.last_name %} {{data.first_name}} {{data.last_name}} {% else %} Null
                        {% endif %}
                      </span>
                    </p>
                    <p class="mb-1">
                      Professionalism:
                      <span class="h6">
                        {% if data.professionalism %} {{data.professionalism}}
                        {% else %} Null {% endif %}
                      </span>
                    </p>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
          {% endif %} {% if documents %}
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h6>Citizen Files</h6>
              </div>
              <div class="card-body">
                <div class="row">
                  {% for document in documents %}
                  <div class="col-sm-12 col-xl-6 mb-1">
                    <span class="font-weight-bold">Document </span>
                    <p class="mb-1">
                      Type: <span class="h6"> {{ document.document }} </span>
                    </p>
                    <p class="mb-1">
                      File:
                      <span class="h6">
                        <a
                          href="{{document.file.url}}"
                          target="_blank"
                          download
                        >
                          {{document.file}}
                        </a>
                      </span>
                    </p>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
          {% endif %}
        </div>

        <div
          class="modal fade"
          id="updateCitizenModal"
          tabindex="-1"
          role="dialog"
          aria-labelledby="updateCitizenModalTitle"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="updateCitizenModalTitle">
                  <i class="ik ik-edit text-primary"></i> EDIT CITIZEN
                  INFORMATION
                </h5>
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form action="" method="post">
                {% csrf_token %}
                <div class="modal-body">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="first_name">First Name</label>
                        <input
                          type="text"
                          class="form-control"
                          name="first_name"
                          id="first_name"
                          placeholder="First Name ..."
                          value="{{citizen.first_name}}"
                        />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="last_name">Last Namer</label>
                        <input
                          type="text"
                          class="form-control"
                          name="last_name"
                          id="last_name"
                          placeholder="Last Name ..."
                          value="{{citizen.last_name}}"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="nationality">Nationality</label>
                    <select
                      class="form-control"
                      name="nationality"
                      id="nationality"
                      required
                    >
                      <option value="">Select Nationality</option>
                      <option {% if citizen.nationality == 'Ghana' %} selected {% endif %} value="Ghana">Ghana</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="nid_number">National ID Number</label>
                    <input
                      type="text"
                      class="form-control"
                      name="nid_number"
                      id="nid_number"
                      placeholder="ID Number ..."
                      value="{{citizen.nid_number}}"
                    />
                  </div>
                  <div class="form-group">
                    <label for="birthdate">Birthdate</label>
                    <input
                      type="date"
                      class="form-control"
                      name="birthdate"
                      id="birthdate"
                      value="{{citizen.birthdate}}"
                    />
                  </div>
                  <div class="form-group">
                    <label for="birth_place">Birth Place</label>
                    <input
                      type="text"
                      class="form-control"
                      name="birth_place"
                      id="birth_place"
                      placeholder="Birth Place ..."
                      value="{{citizen.birth_place}}"
                    />
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="gender">Gender</label>
                        <select
                          class="form-control"
                          name="gender"
                          id="gender"
                          required
                        >
                          <option value="">Select Gender</option>
                          <option {% if citizen.gender == 'Male' %} selected {% endif %} value="Male">Male</option>
                          <option {% if citizen.gender == 'Female' %} selected {% endif %} value="Female">Female</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="marital_status">Marital Status</label>
                        <select
                          class="form-control"
                          name="marital_status"
                          id="marital_status"
                          required
                        >
                          <option value="">Select Marital</option>
                          <option {% if citizen.marital_status == 'Single' %} selected {% endif %} value="Single">Single</option>
                          <option {% if citizen.marital_status == 'Married' %} selected {% endif %} value="Married">Married</option>
                          <option {% if citizen.marital_status == 'Divorced' %} selected {% endif %} value="Divorced">Divorced</option>
                          <option {% if citizen.marital_status == 'Separated' %} selected {% endif %} value="Separated">Separated</option>
                          <option {% if citizen.marital_status == 'Widowed' %} selected {% endif %} value="Widowed">Widowed</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-dismiss="modal"
                  >
                    Close
                  </button>
                  <button
                    type="submit"
                    name="update_citizen"
                    class="btn btn-primary"
                  >
                    <i class="ik ik-save"></i>
                    Submit
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>

        <div
          class="modal fade"
          id="updateAddresModal"
          tabindex="-1"
          role="dialog"
          aria-labelledby="updateAddresModalTitle"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="updateAddresModalTitle">
                  <i class="ik ik-edit text-primary"></i> EDIT CITIZEN
                  ADDRESSS
                </h5>
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form action="" method="post">
                {% csrf_token %}
                <div class="modal-body">
                  <div class="form-group">
                    <label for="province">Province</label>
                    <input
                      type="text"
                      class="form-control"
                      name="province"
                      id="province"
                      placeholder="province ..."
                      value="{{citizen.address.province}}"
                      required
                    />
                  </div>
                  <div class="form-group">
                    <label for="state">State</label>
                    <input
                      type="text"
                      class="form-control"
                      name="state"
                      id="state"
                      placeholder="state ..."
                      value="{{citizen.address.state}}"
                      required
                    />
                  </div>
                  <div class="form-group">
                    <label for="city">City</label>
                    <input
                      type="text"
                      class="form-control"
                      name="city"
                      id="city"
                      placeholder="city ..."
                      value="{{citizen.address.city}}"
                      required
                    />
                  </div>
                  <div class="form-group">
                    <label for="street">Street</label>
                    <input
                      type="text"
                      class="form-control"
                      name="street"
                      id="street"
                      placeholder="street ..."
                      value="{{citizen.address.street}}"
                      required
                    />
                  </div>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-dismiss="modal"
                  >
                    Close
                  </button>
                  <button
                    type="submit"
                    name="update_address"
                    class="btn btn-primary"
                  >
                    <i class="ik ik-save"></i>
                    Submit
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>

        <div
          class="modal fade"
          id="updateParentsModal"
          tabindex="-1"
          role="dialog"
          aria-labelledby="updateParentsModalTitle"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="updateParentsModalTitle">
                  <i class="ik ik-edit text-primary"></i> CITIZEN
                  PARENTS INFO
                </h5>
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form action="" method="post">
                {% csrf_token %}
                <div class="modal-body">
                  <div class="">
                    <span class="sub-title">Father Information</span>
                    <hr />
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="father_fname">First Name</label>
                          <input
                            type="text"
                            class="form-control"
                            name="father_fname"
                            id="father_fname"
                            placeholder="First Name ..."
                            {%if parents %}
                            {% for data in parents %}
                            {% if data.parent == "Father" %}
                            value="{{data.first_name}}"
                            {% endif %}
                            {% endfor %}
                            {% endif %}
                          />
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="father_lname">Last Namer</label>
                          <input
                            type="text"
                            class="form-control"
                            name="father_lname"
                            id="father_lname"
                            placeholder="Last Name ..."
                            {%if parents %}
                            {% for data in parents %}
                            {% if data.parent == "Father" %}
                            value="{{data.last_name}}"
                            {% endif %}
                            {% endfor %}
                            {% endif %}
                          />
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="father_profession">Professionalism</label>
                      <input
                        type="text"
                        class="form-control"
                        name="father_profession"
                        id="father_profession"
                        placeholder="father professionalism ..."
                        required
                        {%if parents %}
                        {% for data in parents %}
                        {% if data.parent == "Father" %}
                        value="{{data.professionalism}}"
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                      />
                    </div>
                  </div>
                  <br />
                  <div>
                    <span class="sub-title">Mother Information</span>
                    <hr />
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="mother_fname">First Name</label>
                          <input
                            type="text"
                            class="form-control"
                            name="mother_fname"
                            id="mother_fname"
                            placeholder="First Name ..."
                            required
                            {%if parents %}
                            {% for data in parents %}
                            {% if data.parent == "Mother" %}
                            value="{{data.first_name}}"
                            {% endif %}
                            {% endfor %}
                            {% endif %}
                          />
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="mother_lname">Last Namer</label>
                          <input
                            type="text"
                            class="form-control"
                            name="mother_lname"
                            id="mother_lname"
                            placeholder="Last Name ..."
                            required
                            {%if parents %}
                            {% for data in parents %}
                            {% if data.parent == "Mother" %}
                            value="{{data.last_name}}"
                            {% endif %}
                            {% endfor %}
                            {% endif %}
                          />
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="mother_profession">Professionalism</label>
                      <input
                        type="text"
                        class="form-control"
                        name="mother_profession"
                        id="mother_profession"
                        placeholder="Mother professionalism ..."
                        required
                        {%if parents %}
                        {% for data in parents %}
                        {% if data.parent == "Mother" %}
                        value="{{data.professionalism}}"
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                      />
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-dismiss="modal"
                  >
                    Close
                  </button>
                  <button
                    type="submit"
                    name="update_parents"
                    class="btn btn-primary"
                  >
                    <i class="ik ik-save"></i>
                    Submit
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>

        <div
          class="modal fade"
          id="delete_confirmation"
          tabindex="-1"
          role="dialog"
          aria-labelledby="deleteModalTitle"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="deleteModalTitle">
                  <i class="ik ik-trash text-danger"></i> DELETE CITIZEN
                  INFORMATION
                </h5>
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form action="" method="post">
                {% csrf_token %}
                <div class="modal-body">
                  <h6 align="center">
                    Are you sure you want to delete <br />
                    Citizen "{{citizen.first_name}} {{citizen.last_name}}" ?
                  </h6>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-dismiss="modal"
                  >
                    Close
                  </button>
                  <button
                    type="submit"
                    name="delete"
                    class="btn btn-danger"
                  >
                    Yes, Delete
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% endblock %}
  </body>
</html>
