{% extends "management/registrar/main.html" %}
<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>

  <body>
    {% block main_content%}

    <div class="main-content">
      <div class="container-fluid">
        <div class="page-header">
          <div class="row align-items-end">
            <div class="col-lg-8">
              <div class="page-header-title">
                <i class="ik ik-user bg-info"></i>
                <div class="d-inline">
                  <h5>Citizen</h5>
                  <span> Manage citizen info </span>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <nav class="breadcrumb-container" aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item active" aria-current="page">
                    <a href="{% url 'dashboard' %}">
                      <i class="ik ik-home"></i>
                      Home
                    </a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">
                    <a href="{% url 'citizens' %}">
                      <i class="ik ik-list"></i> Citizens
                    </a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">
                    Citizen info
                  </li>
                </ol>
              </nav>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3>Default Date-Picker</h3>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-12 col-xl-4 mb-30">
                    <h4 class="sub-title">Date</h4>
                    <p>Add type<code>&lt;input type="date"&gt;</code></p>
                    <input class="form-control" type="date" />
                  </div>
                  <div class="col-sm-12 col-xl-4 mb-30">
                    <h4 class="sub-title">Month</h4>
                    <p>Add type<code>&lt;input type="month"&gt;</code></p>
                    <input class="form-control" type="month" />
                  </div>
                  <div class="col-sm-12 col-xl-4 mb-30">
                    <h4 class="sub-title">Week</h4>
                    <p>Add type<code>&lt;input type="week"&gt;</code></p>
                    <input class="form-control" type="week" />
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-xl-4 mb-30">
                    <h4 class="sub-title">Date-time-local</h4>
                    <p>
                      Add type<code>&lt;input type="datetime-local"&gt;</code>
                    </p>
                    <input class="form-control" type="datetime-local" />
                  </div>
                  <div class="col-sm-12 col-xl-4">
                    <h4 class="sub-title">Time</h4>
                    <p>Add type<code>&lt;input type="time"&gt;</code></p>
                    <input class="form-control" type="time" />
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <h5>Date-Dropper</h5>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-12 col-xl-4 mb-30">
                    <h4 class="sub-title">Default</h4>
                    <p>Add <code>id="#dropper-default"</code></p>
                    <input
                      id="dropper-default"
                      class="form-control"
                      type="text"
                      placeholder="Select your date"
                    />
                  </div>
                  <div class="col-sm-12 col-xl-4 mb-30">
                    <h4 class="sub-title">With Animation</h4>
                    <p>Add <code>id="#dropper-animation"</code></p>
                    <input
                      id="dropper-animation"
                      class="form-control"
                      type="text"
                      placeholder="Select your animation"
                    />
                  </div>
                  <div class="col-sm-12 col-xl-4 mb-30">
                    <h4 class="sub-title">Date format</h4>
                    <p>Add <code>id="#dropper-format"</code></p>
                    <input
                      id="dropper-format"
                      class="form-control"
                      type="text"
                      placeholder="Select your format"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-xl-4 mb-30">
                    <h4 class="sub-title">Language Support</h4>
                    <p>Add <code>id="#dropper-lang"</code></p>
                    <input
                      id="dropper-lang"
                      class="form-control"
                      type="text"
                      placeholder="Language Support"
                    />
                  </div>
                  <div class="col-sm-12 col-xl-4 mb-30">
                    <h4 class="sub-title">Lock Support</h4>
                    <p>Add <code>id="#dropper-lock"</code></p>
                    <input
                      id="dropper-lock"
                      class="form-control"
                      type="text"
                      placeholder="Select your date"
                    />
                  </div>
                  <div class="col-sm-12 col-xl-4 mb-30">
                    <h4 class="sub-title">Max Year</h4>
                    <p>Add <code>id="#dropper-max-year"</code></p>
                    <input
                      id="dropper-max-year"
                      class="form-control"
                      type="text"
                      placeholder="Max Year 2020"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-xl-4 mb-30">
                    <h4 class="sub-title">Min Year</h4>
                    <p>Add <code>id="#dropper-min-year"</code></p>
                    <input
                      id="dropper-min-year"
                      class="form-control"
                      type="text"
                      placeholder="Min Year 1990"
                    />
                  </div>
                  <div class="col-sm-12 col-xl-4 mb-30">
                    <h4 class="sub-title">Year-range</h4>
                    <p>Add <code>id="#year-range"</code></p>
                    <input
                      id="year-range"
                      class="form-control"
                      type="text"
                      placeholder="Select your date"
                    />
                  </div>
                  <div class="col-sm-12 col-xl-4">
                    <h4 class="sub-title">Custom Width</h4>
                    <p>Add <code>id="#dropper-width"</code></p>
                    <input
                      id="dropper-width"
                      class="form-control"
                      type="text"
                      placeholder="Select your date"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3>Default Date-Picker</h3>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-12 col-xl-4 mb-30">
                    <h4 class="sub-title">Date</h4>
                    <p>Add type<code>&lt;input type="date"&gt;</code></p>
                    <input class="form-control" type="date" />
                  </div>
                  <div class="col-sm-12 col-xl-4 mb-30">
                    <h4 class="sub-title">Month</h4>
                    <p>Add type<code>&lt;input type="month"&gt;</code></p>
                    <input class="form-control" type="month" />
                  </div>
                  <div class="col-sm-12 col-xl-4 mb-30">
                    <h4 class="sub-title">Week</h4>
                    <p>Add type<code>&lt;input type="week"&gt;</code></p>
                    <input class="form-control" type="week" />
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-xl-4 mb-30">
                    <h4 class="sub-title">Date-time-local</h4>
                    <p>
                      Add type<code>&lt;input type="datetime-local"&gt;</code>
                    </p>
                    <input class="form-control" type="datetime-local" />
                  </div>
                  <div class="col-sm-12 col-xl-4">
                    <h4 class="sub-title">Time</h4>
                    <p>Add type<code>&lt;input type="time"&gt;</code></p>
                    <input class="form-control" type="time" />
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <h5>Date-Dropper</h5>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-12 col-xl-4 mb-30">
                    <h4 class="sub-title">Default</h4>
                    <p>Add <code>id="#dropper-default"</code></p>
                    <input
                      id="dropper-default"
                      class="form-control"
                      type="text"
                      placeholder="Select your date"
                    />
                  </div>
                  <div class="col-sm-12 col-xl-4 mb-30">
                    <h4 class="sub-title">With Animation</h4>
                    <p>Add <code>id="#dropper-animation"</code></p>
                    <input
                      id="dropper-animation"
                      class="form-control"
                      type="text"
                      placeholder="Select your animation"
                    />
                  </div>
                  <div class="col-sm-12 col-xl-4 mb-30">
                    <h4 class="sub-title">Date format</h4>
                    <p>Add <code>id="#dropper-format"</code></p>
                    <input
                      id="dropper-format"
                      class="form-control"
                      type="text"
                      placeholder="Select your format"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-xl-4 mb-30">
                    <h4 class="sub-title">Language Support</h4>
                    <p>Add <code>id="#dropper-lang"</code></p>
                    <input
                      id="dropper-lang"
                      class="form-control"
                      type="text"
                      placeholder="Language Support"
                    />
                  </div>
                  <div class="col-sm-12 col-xl-4 mb-30">
                    <h4 class="sub-title">Lock Support</h4>
                    <p>Add <code>id="#dropper-lock"</code></p>
                    <input
                      id="dropper-lock"
                      class="form-control"
                      type="text"
                      placeholder="Select your date"
                    />
                  </div>
                  <div class="col-sm-12 col-xl-4 mb-30">
                    <h4 class="sub-title">Max Year</h4>
                    <p>Add <code>id="#dropper-max-year"</code></p>
                    <input
                      id="dropper-max-year"
                      class="form-control"
                      type="text"
                      placeholder="Max Year 2020"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-xl-4 mb-30">
                    <h4 class="sub-title">Min Year</h4>
                    <p>Add <code>id="#dropper-min-year"</code></p>
                    <input
                      id="dropper-min-year"
                      class="form-control"
                      type="text"
                      placeholder="Min Year 1990"
                    />
                  </div>
                  <div class="col-sm-12 col-xl-4 mb-30">
                    <h4 class="sub-title">Year-range</h4>
                    <p>Add <code>id="#year-range"</code></p>
                    <input
                      id="year-range"
                      class="form-control"
                      type="text"
                      placeholder="Select your date"
                    />
                  </div>
                  <div class="col-sm-12 col-xl-4">
                    <h4 class="sub-title">Custom Width</h4>
                    <p>Add <code>id="#dropper-width"</code></p>
                    <input
                      id="dropper-width"
                      class="form-control"
                      type="text"
                      placeholder="Select your date"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3>Default Date-Picker</h3>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-12 col-xl-4 mb-30">
                    <h4 class="sub-title">Date</h4>
                    <p>Add type<code>&lt;input type="date"&gt;</code></p>
                    <input class="form-control" type="date" />
                  </div>
                  <div class="col-sm-12 col-xl-4 mb-30">
                    <h4 class="sub-title">Month</h4>
                    <p>Add type<code>&lt;input type="month"&gt;</code></p>
                    <input class="form-control" type="month" />
                  </div>
                  <div class="col-sm-12 col-xl-4 mb-30">
                    <h4 class="sub-title">Week</h4>
                    <p>Add type<code>&lt;input type="week"&gt;</code></p>
                    <input class="form-control" type="week" />
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-xl-4 mb-30">
                    <h4 class="sub-title">Date-time-local</h4>
                    <p>
                      Add type<code>&lt;input type="datetime-local"&gt;</code>
                    </p>
                    <input class="form-control" type="datetime-local" />
                  </div>
                  <div class="col-sm-12 col-xl-4">
                    <h4 class="sub-title">Time</h4>
                    <p>Add type<code>&lt;input type="time"&gt;</code></p>
                    <input class="form-control" type="time" />
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <h5>Date-Dropper</h5>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-12 col-xl-4 mb-30">
                    <h4 class="sub-title">Default</h4>
                    <p>Add <code>id="#dropper-default"</code></p>
                    <input
                      id="dropper-default"
                      class="form-control"
                      type="text"
                      placeholder="Select your date"
                    />
                  </div>
                  <div class="col-sm-12 col-xl-4 mb-30">
                    <h4 class="sub-title">With Animation</h4>
                    <p>Add <code>id="#dropper-animation"</code></p>
                    <input
                      id="dropper-animation"
                      class="form-control"
                      type="text"
                      placeholder="Select your animation"
                    />
                  </div>
                  <div class="col-sm-12 col-xl-4 mb-30">
                    <h4 class="sub-title">Date format</h4>
                    <p>Add <code>id="#dropper-format"</code></p>
                    <input
                      id="dropper-format"
                      class="form-control"
                      type="text"
                      placeholder="Select your format"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-xl-4 mb-30">
                    <h4 class="sub-title">Language Support</h4>
                    <p>Add <code>id="#dropper-lang"</code></p>
                    <input
                      id="dropper-lang"
                      class="form-control"
                      type="text"
                      placeholder="Language Support"
                    />
                  </div>
                  <div class="col-sm-12 col-xl-4 mb-30">
                    <h4 class="sub-title">Lock Support</h4>
                    <p>Add <code>id="#dropper-lock"</code></p>
                    <input
                      id="dropper-lock"
                      class="form-control"
                      type="text"
                      placeholder="Select your date"
                    />
                  </div>
                  <div class="col-sm-12 col-xl-4 mb-30">
                    <h4 class="sub-title">Max Year</h4>
                    <p>Add <code>id="#dropper-max-year"</code></p>
                    <input
                      id="dropper-max-year"
                      class="form-control"
                      type="text"
                      placeholder="Max Year 2020"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-xl-4 mb-30">
                    <h4 class="sub-title">Min Year</h4>
                    <p>Add <code>id="#dropper-min-year"</code></p>
                    <input
                      id="dropper-min-year"
                      class="form-control"
                      type="text"
                      placeholder="Min Year 1990"
                    />
                  </div>
                  <div class="col-sm-12 col-xl-4 mb-30">
                    <h4 class="sub-title">Year-range</h4>
                    <p>Add <code>id="#year-range"</code></p>
                    <input
                      id="year-range"
                      class="form-control"
                      type="text"
                      placeholder="Select your date"
                    />
                  </div>
                  <div class="col-sm-12 col-xl-4">
                    <h4 class="sub-title">Custom Width</h4>
                    <p>Add <code>id="#dropper-width"</code></p>
                    <input
                      id="dropper-width"
                      class="form-control"
                      type="text"
                      placeholder="Select your date"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          class="modal fade"
          id="registerModal"
          tabindex="-1"
          role="dialog"
          aria-labelledby="registerModalTitle"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="registerModalTitle">
                  REGISTER NEW CITIZEN
                </h5>
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form action="" method="post">
                {% csrf_token %}
                <div class="modal-body">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="first_name">First Name</label>
                        <input
                          type="email"
                          class="form-control"
                          name=""
                          id="first_name"
                          placeholder="First Name ..."
                        />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="last_name">Last Namer</label>
                        <input
                          type="email"
                          class="form-control"
                          name=""
                          id="last_name"
                          placeholder="Last Name ..."
                        />
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="nationality">Nationality</label>
                    <select
                      class="form-control"
                      name="nationality"
                      id="nationality"
                      required
                    >
                      <option value="">Select Nationality</option>
                      <option value="Ghana">Ghana</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="nid_number">National ID Number</label>
                    <input
                      type="text"
                      class="form-control"
                      name="nid_number"
                      id="nid_number"
                      placeholder="ID Number ..."
                    />
                  </div>
                  <div class="form-group">
                    <label for="birthdate">Birthdate</label>
                    <input
                      type="date"
                      class="form-control"
                      name="birthdate"
                      id="birthdate"
                    />
                  </div>
                  <div class="form-group">
                    <label for="birth_place">Birth Place</label>
                    <input
                      type="text"
                      class="form-control"
                      name="birth_place"
                      id="birth_place"
                      placeholder="Birth Place ..."
                    />
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="gender">Gender</label>
                        <select
                          class="form-control"
                          name="gender"
                          id="gender"
                          required
                        >
                          <option value="">Select Gender</option>
                          <option value="Male">Male</option>
                          <option value="Female">Female</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="marital_status">Marital Status</label>
                        <select
                          class="form-control"
                          name="marital_status"
                          id="marital_status"
                          required
                        >
                          <option value="">Select Marital</option>
                          <option value="Single">Single</option>
                          <option value="Married">Married</option>
                          <option value="Divorced">Divorced</option>
                          <option value="Separated">Separated</option>
                          <option value="Widowed">Widowed</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-dismiss="modal"
                  >
                    Close
                  </button>
                  <button
                    type="submit"
                    name="new_stack"
                    class="btn btn-primary"
                  >
                    <i class="ik ik-save"></i>
                    Submit
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% endblock %}
  </body>
</html>
