{% extends "management/registrar/main.html" %}
<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>

  <body>
    {% block main_content%}

    <div class="main-content">
      <div class="container-fluid">
        <div class="page-header">
          <div class="row align-items-end">
            <div class="col-lg-8">
              <div class="page-header-title">
                <i class="ik ik-user bg-info"></i>
                <div class="d-inline">
                  <h5>Citizen</h5>
                  <span> Manage citizen info </span>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <nav class="breadcrumb-container" aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item active" aria-current="page">
                    <a href="{% url 'dashboard' %}">
                      <i class="ik ik-home"></i>
                      Home
                    </a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">
                    <a href="{% url 'citizens' %}">
                      <i class="ik ik-list"></i> Citizens
                    </a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">
                    Citizen info
                  </li>
                </ol>
              </nav>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3>Citizen Information</h3>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-12 mb-4">
                    <button
                      type="button"
                      class="btn btn-light btn-rounded float-right"
                      data-toggle="modal"
                      data-target="#delete_confirmation"
                    >
                      <i class="ik ik-trash text-danger"></i>
                    </button>
                    <button
                      type="button"
                      class="btn btn-light btn-rounded float-right mr-1"
                      data-toggle="modal"
                      data-target="#updateCitizenModal"
                    >
                      <i class="ik ik-edit text-primary"></i>
                    </button>
                    <span class="">
                      Full names:
                      <h4 class="title">
                        {{ citizen.first_name }} {{ citizen.last_name }}
                      </h4>
                    </span>
                  </div>
                  <div class="col-sm-12 col-xl-6 mb-1">
                    <p>
                      Nationality:
                      <span class="h6">{{ citizen.nationality }}</span>
                    </p>
                  </div>
                  <div class="col-sm-12 col-xl-6 mb-1">
                    <p>
                      National ID Number:
                      <span class="h6">{{ citizen.nid_number }}</span>
                    </p>
                  </div>
                  <div class="col-sm-12 col-xl-6 mb-1">
                    <p>
                      Birthdate: <span class="h6">{{ citizen.birthdate }}</span>
                    </p>
                  </div>
                  <div class="col-sm-12 col-xl-6 mb-1">
                    <p>
                      Birth place:
                      <span class="h6">{{ citizen.birth_place }}</span>
                    </p>
                  </div>
                  <div class="col-sm-12 col-xl-6 mb-1">
                    <p>Gender: <span class="h6">{{ citizen.gender }}</span></p>
                  </div>
                  <div class="col-sm-12 col-xl-6 mb-1">
                    <p>
                      Marital Status:
                      <span class="h6">{{ citizen.marital_status }}</span>
                    </p>
                  </div>
                  <div class="col-lg-12 mb-1 mt-2">
                    <button
                      type="button"
                      class="btn btn-light btn-rounded float-right mr-1"
                      data-toggle="modal"
                      data-target="#serviceModal"
                    >
                      <i class="ik ik-edit text-primary"></i>
                    </button>
                    <h4 class="sub-title">Residence Address</h4>
                    <div class="row">
                      <div class="col-sm-12 col-xl-6">
                        <p>
                          Province:
                          <span class="h6">
                            {% if address.province %}{{ address.province }}
                            {%else%} Null {% endif %}</span
                          >
                        </p>
                      </div>
                      <div class="col-sm-12 col-xl-6">
                        <p>
                          State:
                          <span class="h6">
                            {% if address.state %} {{ address.state }} {%else%}
                            Null {% endif %}</span
                          >
                        </p>
                      </div>
                      <div class="col-sm-12 col-xl-6">
                        <p>
                          City:
                          <span class="h6">
                            {% if address.city %} {{ address.city }} {%else%}
                            Null {% endif %}</span
                          >
                        </p>
                      </div>
                      <div class="col-sm-12 col-xl-6">
                        <p>
                          Street:
                          <span class="h6">
                            {% if address.street %} {{ address.street }}
                            {%else%} Null {% endif %}</span
                          >
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          {% if parents %}
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h6>Citizen Parents</h6>
              </div>
              <div class="card-body">
                <div class="row">
                  {% for data in parents %}
                  <div class="col-sm-12 col-xl-6 mb-1">
                    <button
                      type="button"
                      class="btn btn-light btn-rounded float-right mr-1"
                      data-toggle="modal"
                      data-target="#serviceModal"
                    >
                      <i class="ik ik-edit text-primary"></i>
                    </button>
                    <span class="font-weight-bold">{{ data.parent }} </span>
                    <p class="mb-1">
                      Names:
                      <span class="h6">
                        {% if data.first_name and data.last_name %} {{
                        data.first_name }} {{ data.last_name }} {% else %} Null
                        {% endif %}
                      </span>
                    </p>
                    <p class="mb-1">
                      Professionalism:
                      <span class="h6">
                        {% if data.professionalism %} {{ data.professionalism }}
                        {% else %} Null {% endif %}
                      </span>
                    </p>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
          {% endif %} {% if documents %}
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h6>Citizen Files</h6>
              </div>
              <div class="card-body">
                <div class="row">
                  {% for document in documents %}
                  <div class="col-sm-12 col-xl-6 mb-1">
                    <span class="font-weight-bold">Document </span>
                    <p class="mb-1">
                      Type: <span class="h6"> {{ document.document }} </span>
                    </p>
                    <p class="mb-1">
                      File:
                      <span class="h6">
                        <a
                          href="{{document.file.url}}"
                          target="_blank"
                          download
                        >
                          {{document.file}}
                        </a>
                      </span>
                    </p>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
          {% endif %}
        </div>

        <div
          class="modal fade"
          id="updateCitizenModal"
          tabindex="-1"
          role="dialog"
          aria-labelledby="updateCitizenModalTitle"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="updateCitizenModalTitle">
                  <i class="ik ik-edit text-primary"></i> EDIT CITIZEN
                  INFORMATION
                </h5>
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form action="" method="post">
                {% csrf_token %}
                <div class="modal-body">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="first_name">First Name</label>
                        <input
                          type="email"
                          class="form-control"
                          name=""
                          id="first_name"
                          placeholder="First Name ..."
                        />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="last_name">Last Namer</label>
                        <input
                          type="email"
                          class="form-control"
                          name=""
                          id="last_name"
                          placeholder="Last Name ..."
                        />
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="nationality">Nationality</label>
                    <select
                      class="form-control"
                      name="nationality"
                      id="nationality"
                      required
                    >
                      <option value="">Select Nationality</option>
                      <option value="Ghana">Ghana</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="nid_number">National ID Number</label>
                    <input
                      type="text"
                      class="form-control"
                      name="nid_number"
                      id="nid_number"
                      placeholder="ID Number ..."
                    />
                  </div>
                  <div class="form-group">
                    <label for="birthdate">Birthdate</label>
                    <input
                      type="date"
                      class="form-control"
                      name="birthdate"
                      id="birthdate"
                    />
                  </div>
                  <div class="form-group">
                    <label for="birth_place">Birth Place</label>
                    <input
                      type="text"
                      class="form-control"
                      name="birth_place"
                      id="birth_place"
                      placeholder="Birth Place ..."
                    />
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="gender">Gender</label>
                        <select
                          class="form-control"
                          name="gender"
                          id="gender"
                          required
                        >
                          <option value="">Select Gender</option>
                          <option value="Male">Male</option>
                          <option value="Female">Female</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="marital_status">Marital Status</label>
                        <select
                          class="form-control"
                          name="marital_status"
                          id="marital_status"
                          required
                        >
                          <option value="">Select Marital</option>
                          <option value="Single">Single</option>
                          <option value="Married">Married</option>
                          <option value="Divorced">Divorced</option>
                          <option value="Separated">Separated</option>
                          <option value="Widowed">Widowed</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-dismiss="modal"
                  >
                    Close
                  </button>
                  <button
                    type="submit"
                    name="new_stack"
                    class="btn btn-primary"
                  >
                    <i class="ik ik-save"></i>
                    Submit
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% endblock %}
  </body>
</html>
