{% extends "management/registrar/main.html" %}
<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>

  <body>
    {% block main_content%}

    <div class="main-content">
      <div class="container-fluid">
        <div class="page-header">
          <div class="row align-items-end">
            <div class="col-lg-8">
              <div class="page-header-title">
                <i class="ik ik-list bg-secondary"></i>
                <div class="d-inline">
                  <h5>Our Services</h5>
                  <span> Manage services provided on our platform </span>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <nav class="breadcrumb-container" aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="{% url 'dashboard' %}">
                      <i class="ik ik-home"></i> Home
                    </a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">
                    Services
                  </li>
                </ol>
              </nav>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3>Services List</h3>
              </div>
              <div class="card-body">
                <button
                  type="button"
                  class="btn btn-primary float-right"
                  data-toggle="modal"
                  data-target="#serviceModal"
                >
                  <i class="ik ik-plus"></i>
                  New Services
                </button>
                <table id="data_table" class="table">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Service Name</th>
                      <th>Processing Time</th>
                      <th>Fees</th>
                      <th class="nosort">&nbsp;</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for service in services %}
                    <tr>
                      <td>{{ forloop.counter }}.</td>
                      <td>{{ service.name }}</td>
                      <td>{{ service.processingTime }}</td>
                      <td>{{ service.fees }}</td>
                      <td>
                        <div class="table-actions">
                          <a
                            href="{% url 'service_detail' service.id %}"
                            class="text-secondary"
                          >
                            <i class="ik ik-edit"></i> View
                          </a>
                        </div>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div
          class="modal fade"
          id="serviceModal"
          tabindex="-1"
          role="dialog"
          aria-labelledby="serviceModalTitle"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="serviceModalTitle">
                  REGISTER NEW SERVICE
                </h5>
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form action="" method="post">
                {% csrf_token %}
                <div class="modal-body">
                  <div class="form-group mb-0">
                    <label class="col-form-label">Service Name</label>
                    <select
                      id="inputStatus"
                      name="service_name"
                      class="form-control custom-select"
                      required
                    >
                      <option selected disabled>Select Service</option>
                      <option value="e-Passport Application">
                        e-Passport Application
                      </option>
                      <option
                        value="Individual Descriptive Document Application"
                      >
                        Individual Descriptive Document Application
                      </option>
                    </select>
                  </div>
                  <div class="form-group mb-0">
                    <label class="col-form-label">Description</label>
                    <textarea
                      class="form-control"
                      rows="5"
                      placeholder="Description ..."
                      name="description"
                    ></textarea>
                  </div>
                  <div class="form-group mb-0">
                    <label class="col-form-label">Processing Time</label>
                    <input
                      type="text"
                      class="form-control"
                      name="process_time"
                      placeholder="Processing Time ..."
                      required
                    />
                  </div>
                  <div class="form-group mb-0">
                    <label class="col-form-label">Fees</label>
                    <input
                      type="text"
                      class="form-control"
                      name="service_fees"
                      placeholder="Fees ..."
                      required
                    />
                  </div>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-dismiss="modal"
                  >
                    Close
                  </button>
                  <button
                    type="submit"
                    name="new_service"
                    class="btn btn-primary"
                  >
                    <i class="ik ik-save"></i>
                    Submit
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% endblock %}
  </body>
</html>
