{% extends "management/registrar/main.html" %}
<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>

  <body>
    {% block main_content%}

    <div class="main-content">
      <div class="container-fluid">
        <div class="page-header">
          <div class="row align-items-end">
            <div class="col-lg-8">
              <div class="page-header-title">
                <i class="ik ik-clipboard bg-info"></i>
                <div class="d-inline">
                  <h5>Service</h5>
                  <span> Manage service details </span>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <nav class="breadcrumb-container" aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="{% url 'dashboard' %}">
                      <i class="ik ik-home"></i> Home
                    </a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">
                    <a href="{% url 'services' %}">
                      <i class="ik ik-list"></i> Services
                    </a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">
                    Service Details
                  </li>
                </ol>
              </nav>
            </div>
          </div>
        </div>

        <div
          class="modal fade"
          id="serviceModal"
          tabindex="-1"
          role="dialog"
          aria-labelledby="serviceModalTitle"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="serviceModalTitle">
                  REGISTER NEW SERVICE
                </h5>
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form action="" method="post">
                {% csrf_token %}
                <div class="modal-body">
                  <div class="form-group mb-0">
                    <label class="col-form-label">Service Name</label>
                    <input
                      type="text"
                      class="form-control form-control-uppercase"
                      name="service_name"
                      placeholder="Service Name ..."
                      required
                    />
                  </div>
                  <div class="form-group mb-0">
                    <label class="col-form-label">Description</label>
                    <textarea
                      class="form-control"
                      rows="5"
                      placeholder="Description ..."
                      name="description"
                    ></textarea>
                  </div>
                  <div class="form-group mb-0">
                    <label class="col-form-label">Processing Time</label>
                    <input
                      type="text"
                      class="form-control"
                      name="process_time"
                      placeholder="Processing Time ..."
                      required
                    />
                  </div>
                  <div class="form-group mb-0">
                    <label class="col-form-label">Fees</label>
                    <input
                      type="text"
                      class="form-control"
                      name="service_fees"
                      placeholder="Fees ..."
                      required
                    />
                  </div>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-dismiss="modal"
                  >
                    Close
                  </button>
                  <button
                    type="submit"
                    name="new_stack"
                    class="btn btn-primary"
                  >
                    <i class="ik ik-save"></i>
                    Submit
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% endblock %}
  </body>
</html>
